<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877669679832-p0vra6db6sijsbjhjgki7p2ig1uh3iaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877669679832-p0vra6db6sijsbjhjgki7p2ig1uh3iaa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>877669679832-kddlpg728jn6f12okl7jdjp9bkooo73c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIS7wAwqjFQGifHXj_oPOQ46v4_LP2INc</string>
	<key>GCM_SENDER_ID</key>
	<string>877669679832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.richallen.apple.stunt-app</string>
	<key>PROJECT_ID</key>
	<string>stuntapp-6df1a</string>
	<key>STORAGE_BUCKET</key>
	<string>stuntapp-6df1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877669679832:ios:53b2fa5ed52286c5bc0dad</string>
</dict>
</plist>